.background{
    background-image: url('../../assets/barber.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.wrapper{
    display: flex;
   flex-wrap: wrap;
   width: 50%;
   flex-direction: column;
   padding: 2rem;
}

.card{
    background-color: var(--gray-100);
    box-shadow: 4px 8px 4px rgba(43, 6, 6, 0.2);
    border-radius: 24px;
    padding: 3rem;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center; 
}

.wrapper>div:first-child{
text-align: center;
}

.card h2{
    color: black;
    font-style: normal;
    font-size: 3rem;
    font-weight: 800;
}
